@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    /* Colors */
    --primary-color: #2c1c14;
    --dark-color: #311e06;
    --secondary-color: #0f0a06;
    --light-color: #d1c1a5;
    --danger-color: #dc3545;
    --success-color: #28a745;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  i {
    cursor: pointer;
    transition: 0.5s;
  }
}

@layer components {
}

@layer utilities {
}
